<div class="grid_10">
  <div class="module_wrapper">
    <div class="module_header">
      <div>Your Friends</div>
    </div><!-- .module_header -->
    <div class="module_padding">
      
      <div class="friends_list_wrapper">
        <% if current_user.friends.empty? %>
          <div>
            You have no friends yet.  <%= link_to 'Invite them now!', invite_friends_path %>
          </div>
        <% else %>
          <ul>
            <% current_user.friends.each do |friend| %>
              <li><%= link_to friend.full_name, user_path(friend) %></li>
            <% end %>
          </ul>
        <% end %>
      </div><!-- .friends_list_wrapper -->

      
    </div><!-- .module_padding -->
  </div><!-- .module_wrapper -->


  
  
</div><!-- .grid_10 -->
  
<div class="grid_5">
  <div class="module_wrapper">
    <div class="module_header">
      <div>Your DropSocial Invites</div>
    </div><!-- .module_header -->
    <div class="module_padding">
      <a href="<%= invite_friends_path %>" class="purple_link">Invite Your Friends</a>
      <div id="pending_invites_wrapper" style="margin-top:20px">
        <div>
          
        </div>Pending Invitations
        <ul>
          <% current_user.invites.each do |invite| %>
            <li><%= invite.full_name %></li>
          <% end %>
        </ul>    
      </div><!-- #pending_invites_wrapper -->
    </div><!-- .module_padding -->
  </div><!-- .module_wrapper -->
</div><!-- .grid_5 -->
